import(plyr)
import(reshape)
import(ggplot2)
export(pba)
S3method(summary, pba)
export(summary.pba)
export(pbaDistr)
S3method(print, pba)
export(print.pba)
S3method(print, pba.variables)
export(print.pba.variables)
export(plotBias)
export(pbaPlotMisclassification)
export(pbaPlotConfoundingProportions)
export(pbaPlotConfoundingRisks)
export(plotEstimates)
export(pbaPlotSelection)
export(pbaVariable)
S3method(plot, pba)
export(plot.pba)
S3method(cor, pba)
