import(plyr)
import(reshape)
import(ggplot2)
export(pba)
S3method(print, pba)
export(summary.pba)
export(pbaDistr)
export(plotBias)
export(plotEstimates)
export(rtrapezoid)
export(pbaVariable)
S3method(plot, pba)
